In [1]:
import pandas as pd
#from sqlalchemy import create_engine
import csv
import pandas as pd
import numpy as np
import os
from datetime import datetime
import calendar

import matplotlib.pyplot as plt
import matplotlib as mpl

from scipy.stats import linregress

import scipy.stats as stats

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
sns.set()

In [2]:
admission_file = "admissions.csv"
admission_df = pd.read_csv(admission_file)
admission_df = admission_df[['Admission Year','ICD10 Code','Value']].copy()
admission_df.rename(columns={'Value': 'Total Admissions'}, inplace=True)
#admission_df = admission_df.loc[admission_df['ICD10 Code'] == 'All codes']
admission_df.dropna()
admission_df.fillna(0, inplace=True)
#admission_df = admission_df.replace('NaN', 0)
#admission_df = admission_df.groupby(['Admission Year', 'ICD10 Code'])['Total Admissions'].apply(lambda x : x.astype(int).sum())
admission_df

,Admission Year,ICD10 Code,Total Admissions
0,2014,All codes,11011882
1,2014,C33-C34 & C00-C14 & C15 & C32 & C53 & C67 & C6...,1713330
2,2014,C00-D48,1691035
3,2014,J00-J99,611002
4,2014,I00-I99,907157
5,2014,K00-K93,1460719
6,2014,C33-C34,88408
7,2014,C00-C14,21715
8,2014,C15,29703
9,2014,C32,4625
10,2014,C53,6559
11,2014,C67,68257
12,2014,C64-C66 & C68,15426
13,2014,C16,19125
14,2014,C25,26790
15,2014,C80,8245
16,2014,C92,43135
17,2014,J40-J43,5880
18,2014,J44,121947
19,2014,J10-J18,208759
20,2014,I00-I09 & I26-I51,292146
21,2014,I20-I25,265514
22,2014,I72-I78,37759
23,2014,I60-I69,105932
24,2014,I71,12166
25,2014,I70,13257
26,2014,K25-K27,23659
27,2014,K50,40273
28,2014,K05,6739
29,2014,H25,167889
...,...,...,...
1026,2004,C00-D48,602553
1027,2004,J00-J99,199679
1028,2004,I00-I99,356817
1029,2004,K00-K93,446023
1030,2004,C33-C34,29686
1031,2004,C00-C14,3636
1032,2004,C15,8661
1033,2004,C32,707
1034,2004,C53,6388
1035,2004,C67,18396
1036,2004,C64-C66 & C68,3319
1037,2004,C16,6812
1038,2004,C25,8123
1039,2004,C80,7628
1040,2004,C92,11614
1041,2004,J40-J43,2426
1042,2004,J44,52168
1043,2004,J10-J18,40706
1044,2004,I00-I09 & I26-I51,102227
1045,2004,I20-I25,105655
1046,2004,I72-I78,15280
1047,2004,I60-I69,50359
1048,2004,I71,2652
1049,2004,I70,2962
1050,2004,K25-K27,11364
1051,2004,K50,7558
1052,2004,K05,1566
1053,2004,H25,78924
1054,2004,S72.0-S72.2,46603
1055,2004,O03,12057

In [3]:
fatalities_file = "fatalities.csv"
fatalities_df = pd.read_csv(fatalities_file)
fatalities_df = fatalities_df[['Year','ICD10 Code','Value']].copy()
fatalities_df.rename(columns={'Year': 'Admission Year', 'Value': 'Total Mortalities'}, inplace=True)
fatalities_df = fatalities_df.loc[fatalities_df['ICD10 Code'] == 'All codes']
fatalities_df.dropna()
fatalities_df = fatalities_df.groupby(['Admission Year', 'ICD10 Code'])['Total Mortalities'].apply(lambda x : x.astype(int).sum())
fatalities_df

Admission Year  ICD10 Code
2004            All codes     938372
2005            All codes     936782
2006            All codes     918120
2007            All codes     918582
2008            All codes     928630
2009            All codes     896460
2010            All codes     901142
2011            All codes     885518
2012            All codes     914298
2013            All codes     927972
2014            All codes     918174
Name: Total Mortalities, dtype: int64

In [4]:
admission_file = "admissions.csv"
admission_df = pd.read_csv(admission_file)
admission_df = admission_df[['Admission Year','ICD10 Code','Value']].copy()
admission_df.rename(columns={'Value': 'Total Admissions'}, inplace=True)
admission_df = admission_df.loc[admission_df['ICD10 Code'] == 'All codes']
admission_df.dropna()
admission_df.fillna(0, inplace=True)
#admission_df = admission_df.replace('NaN', 0)
admission_df = admission_df.groupby(['Admission Year', 'ICD10 Code'])['Total Admissions'].apply(lambda x : x.astype(int).sum())
admission_df

Admission Year  ICD10 Code
2004            All codes     15693096
2005            All codes     16498660
2006            All codes     17024964
2007            All codes     17739930
2008            All codes     18880518
2009            All codes     19484966
2010            All codes     10012763
2011            All codes     20328006
2012            All codes     20563014
2013            All codes     21205478
2014            All codes     22023764
Name: Total Admissions, dtype: int64

In [5]:
merged_df = pd.merge(admission_df,fatalities_df,on=['Admission Year'])

merged_df.to_html('filename.html')

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [ ]:

x_axis = merged_df['Total Admissions']
y_axis = merged_df['Total Fatalities']
np.corrcoef(x_axis, y_axis)

In [ ]:
fig, ax = plt.subplots()
plt.xlabel('Total Annual Admissions')
plt.ylabel('Total Fatalities')
ax.scatter('Total Admissions','Total Fatalities', data = merged_df )

In [ ]:
year = merged_df[['Year']]
data1 = merged_df[['Total Admissions']]
data2 = merged_df[['Total Fatalities']]

In [ ]:
# Create Hospital Admissions and Mortalities on one chart


fig, ax1 = plt.subplots()

color = 'tab:red'
ax1.set_xlabel('Year', size=15)
ax1.set_ylabel('Admissions', color=color, size=15)
ax1.plot(year, data1, color=color)
ax1.tick_params(axis='y', labelcolor=color)

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis

color = 'tab:blue'
ax2.set_ylabel('Mortalities', color=color,size=15)  # we already handled the x-label with ax1
ax2.plot(year, data2, color=color)
ax2.tick_params(axis='y', labelcolor=color)
plt.title('Hospital Admissions and Hospital Mortalities over Years', size=20)
fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.show()